.goal
  background: #f3f3f3
  padding: 95px 0 50px @sm 110px 0 70px @lg 140px 0 70px
  box-shadow: 0 -200px 0 #f3f3f3

  &__list
    max-width: 420px @lg 948px
    padding-left: @lg 21px
    margin: 0 auto