.how
  padding-top: 90px @sm 126px
  overflow: hidden

  &__img
    background-image: url("../img/how-bg.jpg")
    background-size: contain
    background-position: bottom right
    background-repeat: no-repeat
    margin: 35px -15px 0 auto @sm 45px -128px 0 auto @md 24px -87px 0 auto @lg -40px 0 0 0 @xl -26px 0 -123px -61px
    size: 280px 222px @sm 399px 332px @lg 595px 482px @xl 695px 592px

  &__list
    max-width: 370px
    margin: 0 auto @lg 85px 0 0 104px