@import 'inc/var.sss'

@import 'inc/reset.css'
@import 'inc/bootstrap-grid.css'
@import 'inc/icon.sss'
@import 'inc/helpers.sss'
@import 'inc/typo.sss'
@import 'inc/btn.sss'

@import 'blocks/header.sss'
@import 'blocks/hero.sss'
@import 'blocks/stats.sss'
@import 'blocks/how.sss'
@import 'blocks/hashtag.sss'
@import 'blocks/goal.sss'
@import 'blocks/safe.sss'
@import 'blocks/thanks.sss'
@import 'blocks/footer.sss'

