include ../inc/var.pug
include ../inc/mixins.pug

doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no")

    block title
      title Start

    link(href="styles/libs.min.css" rel="stylesheet")
    link(href="styles/main.css" rel="stylesheet")

  body
    include ../blocks/header.pug

    block content

    include ../blocks/footer.pug

    script(defer type="text/javascript" src="scripts/libs.min.js")
    script(defer type="text/javascript" src="scripts/main.js")