.icon
  &-logo
    background-image: svg-load("logo.svg")
  &-facebook
    background-image: svg-load("icons/facebook.svg" fill: #757575)
  &-instagram
    background-image: svg-load("icons/instagram.svg" fill: #757575)