footer.footer
  nav.footer__nav
    a.footer__nav-link(href="#!") Продукт
    a.footer__nav-link(href="#!") Challenge
    a.footer__nav-link(href="#!") Блок
    a.footer__nav-link(href="#!") Контакты

  .footer__wrapper
    .container
      .row.flex-lg-nowrap.align-items-lg-center.no-gutters.justify-content-lg-between
        .col-12.col-lg-auto
          a.footer__logo(href="#!")
        .col-12.col-lg-3
          .footer__text Алматы, проспект Аль-Фараби 77/7 БЦ Esentai Tower: 3, 7 этаж.
        .col-12.col-lg-2
          a.footer__link(href="tel:+77273111064") +7 727 311 10 64
          a.footer__link(href="tel:88000803131") 8 800 080 3131
        .col-12.col-lg-2
          a.footer__link(href="tel:+7555") 7555
          span.footer__text (бесплатно со всех операторов)
        .col-12.col-lg-1
          .footer__socials.socials
            a.socials__link.socials__link--facebook(href="https://www.facebook.com/" target="blank")
            a.socials__link.socials__link--instagram(href="https://www.instagram.com/" target="blank")

  .footer__copy
    .container © 2011 - 2019 ИК "Фридом Финанс
