.goal
  .goal__container.container
    .title.title--style-colored
      .title__text Наша цель

    ul.goal__list.list.list--grid
      li.list__item
        .list__item-text Каждый год в мире 18 миллионов человек заболевают раком. К сожалению, Казахстан эта беда не обошла стороной. В 2018 году в стране около 200 тысяч человек страдали от онкологических заболеваний. В среднем рак уносит жизни 15 тысяч казахстанцев каждый год. */
      li.list__item
        .list__item-text Многие не хотят говорить о болезнях, чтобы не навлечь беду. Но мы считаем, что об этом нужно говорить. Онкологические заболевания – одни из самых распространённых не только в Казахстане, но и в мире. Поэтому мы должны говорить об этом, чтобы привлечь больше внимания к проблеме.
      li.list__item
        .list__item-text Болезнь излечима, а медицина знает множество примеров, когда люди излечивались и жили долго и счастливо. Но для этого нужно вовремя обнаружить заболевание и обратиться за медицинской помощью. Сделать это можно, если периодически проходить медицинские обследования и скрининги. В Казахстане скрининги бесплатные.
      li.list__item
        .list__item-text Мы хотим, чтобы как можно больше казахстанцев не только узнали об этом, но и начали бережней относиться к своему здоровью. Все мы заслуживаем быть свободными и здоровыми! Поэтому наша компания запускает Freedom Health Challenge!