.hashtag
  .hashtag__container.container
    .hashtag__text За каждое ваше видео с хэштегом #FreedomHeаlthChаllenge наша компания переведёт 3$ в фонд на лечение детей с онкологией

  .line-bg.line-bg--style-1
    .line-bg__wrapper