header.header
  .header__container.container
    a.header__logo(href="#hero")

    .header__wrapper
      nav.header__nav
        a.header__nav-link(href="#!") Принять участие
        a.header__nav-link(href="#!") Наша цель
        a.header__nav-link(href="#!") Как обезопасить себя
        a.header__nav-link(href="#!") Участники

      .header__socials.socials
        a.socials__link.socials__link--facebook(href="https://www.facebook.com/" target="blank")
        a.socials__link.socials__link--instagram(href="https://www.instagram.com/" target="blank")

      .header__phone
        span.header__phone-text CALL CENTER
        a.header__phone-number(href="tel:+7555") 7555

    button.header__burger
      .header__burger-line
      .header__burger-line
      .header__burger-line