.hero
  .container
    .hero__wrapper
      .hero__iframe
        iframe.hero__iframe-elem(src="https://www.youtube-nocookie.com/embed/UZY9FYe7u6I" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      p.hero__hashtag #FreedomHealthChallenge
      p.hero__block Сними планку на видео, опубликуй в социальных сетях и помоги детям
