.how
  .how__container.container
    .title
      .title__small Как принять участие в
      .title__text #FreedomHeаlthChаllenge

    .row
      .col-12.col-md-6
        ul.how__list.list
          li.list__item
            .list__item-text Снимите видео, как вы делаете упражнение 
              span.list__item-mark «планка»
          li.list__item
            .list__item-text Опубликуйте это видео на своей страничке в Инстаграме вместе с хэштегом 
              span.list__item-mark #FreedomHeаlthChаllenge
          li.list__item
            .list__item-text Отметьте в публикации нашу страничку 
              span.list__item-mark @ffin.lif
      .col-12.col-md-6
        .how__img