.safe
  .safe__container.container
    .title.title--style-left
      .title__text Как обезопасить себя и своих близках от рака

    section.safe__list.row.justify-content-lg-center
      .col-12.col-md-auto
        article.safe__item
          a.safe__item-wrapper(href="#!")
            .safe__item-picture
              img.safe__item-img(src="../img/test-content.jpg" alt="Test")
            .safe__item-title Каждый год в мире 18 миллионов человек заболевают раком.
            .safe__item-text К сожалению, Казахстан эта беда не обошла стороной.
      .col-12.col-md-auto
        article.safe__item
          a.safe__item-wrapper(href="#!")
            .safe__item-picture
            .safe__item-title Каждый год в мире 18
            .safe__item-text К сожалению, Казахстан эта беда не обошла стороной.
      .col-12.col-md-auto
        article.safe__item
          a.safe__item-wrapper(href="#!")
            .safe__item-picture
            .safe__item-title Каждый год в мире 18 миллионов человек заболевают раком.
            .safe__item-text К сожалению, Казахстан эта беда