.stats
  .stats__container.container
    .row.justify-content-lg-center.align-items-lg-center
      .col-6.col-lg-4.order-lg-1
        .stats__amount 0503
          span.stats__men
        .stats__tip.stats__tip--members участника (ов)

      .col-6.col-lg-4.order-lg-3
        .stats__tip Вместе мы собрали
        .stats__amount.stats__amount--usd 2005
          span.stats__mark $

      .col-12.col-lg-auto.order-lg-2
        .stats__heart

    .stats__text 1 участник = 3$ 
      span.stats__text-small для надежды

  .line-bg
    .line-bg__wrapper