extends layouts/layout.pug

block title
  title FreedomHealthChallenge

block content
  include blocks/hero.pug
  include blocks/stats.pug
  include blocks/how.pug
  include blocks/hashtag.pug
  include blocks/goal.pug
  include blocks/safe.pug
  include blocks/thanks.pug